.container-paralax{
    height: 100vh;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-paralax--data{
    text-align: center;
    color: #fff;
    flex-direction: column;
    justify-content: center;
}